@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@400;500&family=Geist:wght@400;500&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Geist", sans-serif;
  --font-mono: "Geist Mono", monospace;
}

html,
body,
#root {
  min-height: 100vh;
}

body {
  background-color: #f8f8f8;
  color: #111111;
  font-family: "Geist", sans-serif;
}
