# Server environment variables
PORT=4000
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=app
DATABASE_PASSWORD=app
DATABASE_NAME=event_management
JWT_SECRET=change-me-in-dev
JWT_EXPIRES_IN=1d
